.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 32px;
}

.navbar {
  max-height: 80px;
  height: 50px;
  max-width: calc(1200px + 2 * 4rem);
  padding: 0 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  & > * {
    margin-bottom: 0;
  }
}

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.navbar-right-user {
  font-size: 14px;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  padding-left: 6px;
  border-radius: 100px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--full-background-color);

  &:hover {
    background-color: var(--hover-background-color);
    cursor: pointer;
  }
}

.navbar-links {
  display: flex;
  flex-direction: row;
  // gap: 8px;
}

.navbar-link {
  color: var(--sub-text-color);
  font-weight: 400;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  font-size: 14px;

  &.active {
    color: var(--text-color);
    font-weight: 600;
  }

  &:hover {
    color: var(--mostly-text-color);
    background-color: var(--hover-background-color);
    &.active {
      color: var(--text-color);
      font-weight: 600;
    }
  }
}

.logo {
  text-decoration: none;
  color: unset;
  & > * {
    margin-bottom: 0;
  }
}

.profile-picture {
  border-radius: 100%;
  margin-right: 2px;
}
